* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  font-family: Sans-Serif;
  display: flex;
}

nav {
  min-width: 35%;
  border-right: 3px solid #333;
}

nav header {
  padding: 10px;
  font-weight: 500;
  font-size: 1.3em;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-top: 2px solid #bbb;
  font-size: .7em;
}

main {
  padding: 25px;
  font-size: .65em;
  height: 100vh;
  overflow-y: scroll;
  line-height: 1.4;
}

main header {
  font-weight: 500;
  font-size: 1.3em;
}

main p {
  padding: 5px;
}

section {
  margin-bottom: 20px;
}

section li {
  margin: 15px 0px 0px 30px;
}

code {
  display: block;
  text-align: left;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #eee;
  border-radius: 5px;
  padding: 25px;
  font-size: .7em;
}

@media (max-width: 576px) {
  
}